* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background: rgb(24, 23, 23);
    padding: 20px;
}

.navbar-brand {
    font-size: 20px !important;
    color: wheat !important;
    font-weight: bold;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: wheat !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.navbar-toggler-icon {
    color: wheat !important;
    font-size: 30px !important;
}

.navbar-toggler {
    border: none !important;
}

#banner {
    background-image: url(banner-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 70px 20px;
    text-align: center;
}

.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    color:white;
}

#banner a {
    background-color: #302c2b;
    color: wheat;
    font-size: 15px;
    padding: 15px 30px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    border-radius: 25px;
}

#services {
    padding: 90px 20px;
}

.services {
    padding: 20px;
    margin-bottom: 40px;
    background-color: #b9551f;
    color: wheat;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service-img {
    height: 100px;
    margin-bottom: 20px;
}

.services h4 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.title::before {
    content: '';
    background: #a04d20;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(65px);
}

.title::after {
    content: '';
    background: #a04d20;
    height: 15px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

.btn-primary{
    background-color: #c94802;
    color:whitesmoke;
    font-size: 18px;
    border:none;
}

@media (max-width: 768px) {
    #banner {
        padding: 40px 10px;
    }

    .promo-title {
        font-size: 30px;
    }

    #banner a {
        font-size: 13px;
    }

    #services {
        padding: 60px 10px;
    }

    .services {
        margin-right: 0;
    }

    .title::before {
        width: 150px;
        transform: translateY(40px);
    }

    .title::after {
        width: 30px;
        margin-bottom: 20px;
        transform: translateY(5px);
    }
}

#about {
    background: whitesmoke;
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-title{
    font-size: 20px;
    font-weight: 600;
    margin-top:30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.about-us ul li{
    margin: 10px 0;
    padding:5px;
}

.about-us ul{
    margin-left:80px;
}

.img-fluid{
    height:65vh;
    margin:20px; 
}


#gallery {
    padding: 50px 0; 
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.image-fluid{
    height:40vh;
    width: 50vh; 
    margin:30px; 
}

.gallery-description {
    margin-bottom: 40px; 
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
}

#social-media{
    background-color:#f8f9fa;
    padding: 80px 0;  
}

#social-media p{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons a{
    margin: 10px 15px;
}

.social-icons img{
    
    width:60px;
    height:60px;
    transition:0.5s;
}

.social-icons a:hover img {
    transform: translateY(-10px);
}

#footer {
    background: rgb(24, 23, 23);
    padding: 30px;
    margin-top: 20px;
    color: whitesmoke;
    font-size: 13px;
}

.footer-box {
    padding: 20px;
}

.footer-box h4 {
    color: white;
    margin-bottom: 10px;
}

.footer-box p {
    margin-bottom: 10px;
    color: whitesmoke;
}

.footer-box .bi {
    margin-right: 8px;
    font-size: 18px;
    color: wheat;
}

.footer-box input[type="email"] {
    border-radius: 0;
}

.footer-box .btn-primary {
    border-radius: 0;
}


